<%- include('./partials/header.ejs')%>
    <%- include('./partials/navbar.ejs')%>

        <div class="container">
            <div class="row mt-5">
                <h1>Home page</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos fugiat non eos, voluptates earum eligendi fuga tenetur, praesentium quam quas placeat voluptate? In quas, distinctio quia corporis voluptas aut!</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs')%>